[user]
    name = Adam Hahn
    email = aphahn@gmail.com
[core]
    autocrlf = false
    editor = vim
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[merge]
    tool = vimdiff
    conflictstyle = diff3
