Host *
    NumberOfPasswordPrompts 2
    ServerAliveInterval 300

    PubkeyAuthentication yes
    # Remember keys in ssh-agent, so they don't have to be loaded from disk (and decrypted) every time.
    AddKeysToAgent yes
    # Remember key passwords in MacOS Keychain, so you don't have to provide the password after every machine restart.
    UseKeychain yes
    # Only send SSH key to host if it's explicitly listed with "IdentityFile"
    IdentitiesOnly yes
